.link-like {
    color: #007bff; /* Color azul típico de los enlaces */
    cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
    text-decoration: underline; /* Subraya el texto para simular un enlace */
  }

  .login-page {
    background-image: url('../../assets/inicioamecae.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh; /* Make sure it covers the full view height */
  }