<body class="login-page" style="min-height: 464px;">
  <div class="login-box">

    <div class="card card-outline card-primary">
      <div class="card-header text-center"  style="padding: 0; overflow: hidden;">
        <img src="../../assets/logo_extendido.jpg" alt="AMECAE Logo" style="width: 100%; height: auto; display: block;">
      </div>
      <div class="card-body">
        <p class="login-box-msg">Inicia sesión</p>
        <form [formGroup]="loginform" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email" formControlName="email" name="email" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" formControlName="pass" name="password"
              required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" (click)="login()" class="btn btn-primary btn-block">Inicia sesión</button>
            </div>

          </div>
        </form>
        <div class="social-auth-links text-center mt-2 mb-3">
          <button type="button" (click)="onClickGoogle()" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Inicia sesión con Google
          </button>
        </div>

        <p class="mb-1">
          <span class="link-like" (click)="resetPassword()">Olvidé mi contraseña</span>
        </p>

        <!-- <p class="mb-0">
          <a (click)="register()" class="text-center link-like">Registrarme</a>
        </p> -->
      </div>
    </div>
  </div>  
</body>





