<div class="wrapper" >
<app-menu></app-menu>
<app-sidebar></app-sidebar>
    <section class="content-header">
        <div class="container-fluid">
            <!-- <div class="row mb-2">
                <div class="col-sm-6">                  
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">fechade actual</a></li>
                        <li class="breadcrumb-item active">ex</li>
                    </ol>
                </div>
            </div> -->
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                    <div class="content-wrapper">
                        <!-- Content Header (Page header) -->
                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Cálculo del Índice de Masa Corporal (IMC)</h1>
                                    </div>
                                </div>
                            </div><!-- /.container-fluid -->
                        </section>

                        <!-- Main content -->
                        <section class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <!-- general form elements -->
                                        <div class="card card-primary">
                                            <div class="card-header">
                                                <h3 class="card-title">Calculadora de IMC</h3>
                                            </div>
                                            <!-- /.card-header -->
                                            <!-- form start -->
                                            <form (submit)="calcularIMC()">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label for="peso">Peso (kg)</label>
                                                        <input type="number" class="form-control" id="peso"
                                                            [(ngModel)]="peso" name="peso"
                                                            placeholder="Introduce tu peso en kg" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="altura">Altura (cm)</label>
                                                        <input type="number" class="form-control" id="altura"
                                                            [(ngModel)]="altura" name="altura"
                                                            placeholder="Introduce tu altura en cm" required>
                                                    </div>
                                                </div>
                                                <!-- /.card-body -->

                                                <div class="card-footer">
                                                    <button type="submit" class="btn btn-primary">Calcular</button>
                                                </div>
                                            </form>
                                        </div>
                                        <!-- /.card -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-md-6">
                                        <div class="card card-info">
                                            <div class="card-header">
                                                <h3 class="card-title">Resultado</h3>
                                            </div>
                                            <div class="card-body">
                                                <h4>Tu Índice de Masa Corporal (IMC) es: {{ imc | number:'1.1-2' }}</h4>

                                            </div>
                                        </div>
                                        <div class="card card-success">
                                            <div class="card-header">
                                                <h3 class="card-title">Tabla de Referencia de IMC</h3>
                                            </div>
                                            <div class="card-body p-0">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>IMC</th>
                                                            <th>Nivel de peso</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Por debajo de 18.5</td>
                                                            <td>Bajo peso</td>
                                                        </tr>
                                                        <tr>
                                                            <td>18.5—24.9</td>
                                                            <td>Peso saludable</td>
                                                        </tr>
                                                        <tr>
                                                            <td>25.0—29.9</td>
                                                            <td>Sobrepeso</td>
                                                        </tr>
                                                        <tr>
                                                            <td>30.0 o más</td>
                                                            <td>Obesidad</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.card-body -->
                                        </div>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div><!-- /.container-fluid -->
                        </section>
                        <!-- /.content -->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>