#nombreinputtexthistoria {
    resize: none; /* Deshabilita la capacidad de redimensionar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombreado sutil */
    border: 1px solid #ccc; /* Borde sutil */
    padding: 10px; /* Espacio interior para mejorar la legibilidad */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Fuente legible */
    font-size: 16px; /* Tamaño de fuente adecuado */
    color: #333; /* Color del texto */
    background-color: #f8f8f8; /* Color de fondo suave */
    line-height: 1.5; /* Espaciado de línea para mejorar la legibilidad */
    overflow: hidden; /* Oculta la barra de desplazamiento hasta que sea necesario */
    min-height: 250px;
  }
  
  .form-control:focus {
    border-color: #007bff; /* Cambia el color del borde al enfocar */
    outline: none; /* Remueve el outline predeterminado */
  }
  
  /* Estilo para el botón */
  .btn-primary.btn-block {
    margin-top: 10px; /* Espaciado superior para separarlo del textarea */
  }

  .content-header {
    padding: 60px 10px 10px 10px !important;
}