<div class="timeline timeline-inverse">

    <div class="time-label">
    <span class="bg-danger">
    {{fechaActual}}
    </span>
    </div>
    
    
    <div>
    <i class="fas fa-envelope bg-primary"></i>
    <div class="timeline-item">
    <h3 class="timeline-header"><a href="#">Agregar </a>Receta</h3>
    <div class="timeline-body">
        <ckeditor [config]="{ toolbar: [  'heading', '|',
        'bold', 'italic', '|',
        'bulletedList', 'numberedList', '|',
        'outdent', 'indent', '|',
        'blockQuote', '|',
        'undo', 'redo', '|',
        'alignment'] }" tagName="textarea" [editor]="Editor" [(ngModel)]="data" ></ckeditor>
    </div>
    <div class="timeline-footer">
    <button type="button" class="btn btn-primary btn-sm" (click)="guardarEditarreceta([0,data])">Guardar</button>
    </div>
    </div>
    </div>
    
    
    <div *ngFor="let receta of recetas">
    <span class="bg-danger fecha_label">
        {{receta.fecha}}
    </span>
    <br/>
    <div class="timeline-item">
    <div class="timeline-body">
        <ckeditor [config]="{ toolbar: [  'heading', '|',
        'bold', 'italic', '|',
        'bulletedList', 'numberedList', '|',
        'outdent', 'indent', '|',
        'blockQuote', '|',
        'undo', 'redo', '|',
        'alignment'] }" tagName="textarea" [editor]="Editor"  [(ngModel)]="receta.receta" [id]="receta.id"></ckeditor>
    </div>
    <div class="timeline-footer">
    <button type="button" class="btn btn-warning btn-flat btn-sm" (click)="guardarEditarreceta([receta.id,receta.receta])">Editar</button>
    <button type="button" class="btn btn-danger btn-sm"(click)="borrarreceta([receta.id,receta.receta])">Borrar</button>
    </div>
    </div>
    </div>   
  </div>