/* @media print {
    body {
      margin: 0;
      padding: 0;
    }
    #text-editor {
      border: none;
    }
} */

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 250px;
}

.fecha_label {
  border-radius: 4px;
  background-color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 5px;
}