<aside class="main-sidebar sidebar-dark-primary  elevation-4">
  <a (click)="navigateTo(opcionesSB.Home)" class="brand-link bg-light logo-switch">
    <img src="assets/user4-128x128.jpg" alt="Logo" class="brand-image logo-xs ">
    <img src="assets/logo_extendido.jpg" alt="LOGO" class="logo_oliv-xl" style="left: 12px">
  </a>
  <!-- User logged -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
      <img [src]="imagenPerfilUrl ? imagenPerfilUrl : 'assets/user.png'" class="img-circle elevation-2"
        alt="User Image">
    </div>
    <div class="info">
      <p class="d-block nameUser">{{user == null? "Usuario": user}}</p>
    </div>
  </div>
  <!-- User logged -->
  <div
    class="sidebar os-host os-theme-light os-host-resize-disabled os-host-transition os-host-overflow os-host-overflow-y os-host-overflow-x">
    <div class="os-resize-observer-host observed">
      <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
    </div>
    <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
      <div class="os-resize-observer"></div>
    </div>
    <div class="os-content-glue" style="margin: 0px -8px; width: 73px; height: 103px;"></div>
    <div class="os-padding">
      <div class="os-viewport os-viewport-native-scrollbars-invisible os-viewport-native-scrollbars-overlaid"
        style="overflow: scroll;">
        <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
          <div class="form-inline mt-2">
            <!-- <div class="input-group" data-widget="sidebar-search">
              <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-sidebar">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div> -->
            <!-- <div class="sidebar-search-results">
              <div class="list-group"><a href="#" class="list-group-item">
                  <div class="search-title"><strong class="text-light"></strong>N<strong
                      class="text-light"></strong>o<strong class="text-light"></strong> <strong
                      class="text-light"></strong>e<strong class="text-light"></strong>l<strong
                      class="text-light"></strong>e<strong class="text-light"></strong>m<strong
                      class="text-light"></strong>e<strong class="text-light"></strong>n<strong
                      class="text-light"></strong>t<strong class="text-light"></strong> <strong
                      class="text-light"></strong>f<strong class="text-light"></strong>o<strong
                      class="text-light"></strong>u<strong class="text-light"></strong>n<strong
                      class="text-light"></strong>d<strong class="text-light"></strong>!<strong
                      class="text-light"></strong></div>
                  <div class="search-path"></div>
                </a></div>
            </div> -->
          </div>
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
              <li class="nav-item">
                <a (click)="navigateTo(opcionesSB.Profile)" class="nav-link">
                  <i class="nav-icon fa fa-user"></i>
                  <p>
                    Mi perfil
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a  (click)="navigateTo(opcionesSB.AgregarPaciente)" class="nav-link">
                  <i class="nav-icon fas fa-handshake"></i>
                  <p>
                   Agregar Paciente
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="navigateTo(opcionesSB.Tratamientos)" class="nav-link">
                  <i class="nav-icon fa-solid fa-file-contract"></i>
                  <p>
                    Tratamientos
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="navigateTo(opcionesSB.Tratamientos)" class="nav-link">
                  <i class="nav-icon  fa-solid fa-file-medical"></i>
                                    <p>
                    Expedientes
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="navigateTo(opcionesSB.Tratamientos)" class="nav-link">
                  <i class="nav-icon  fa-solid fa-file-medical"></i>
                  <p>
                    Recetas
                  </p>
                </a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-auto-hidden">
      <div class="os-scrollbar-track">
        <div class="os-scrollbar-handle" style="width: 35.7488%; transform: translate(0px);"></div>
      </div>
    </div>
    <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
      <div class="os-scrollbar-track">
        <div class="os-scrollbar-handle" style="height: 14.6898%; transform: translate(0px, 59.8139px);"></div>
      </div>
    </div>
    <div class="os-scrollbar-corner"></div>
  </div>
</aside>