.logo_oliv{    
    /* line-height: 5.5 !important; */
   max-height: 40px;
  width: auto;
  display: block;
  font-size: 1.25rem;
  line-height: 3.5 !important;
  padding: .8125rem .5rem;
  transition: width .3s ease-in-out;
  white-space: nowrap;
}

.nameUser{
color: white !important;
}

.imagen-con-degradado {
    width: 300px;
    height: 200px;
    display: block;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    background-image: url('/assets/logo_extendido.jpg');
    background-size: cover;
  }

   
  .fijar {
        height: 100vh !important;  
    position: fixed !important;
    }
  

 
  

